<div ng-controller="Siparisyazdir" ng-init="Init()"> 
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 p-2">
            <div class="card p-3 p-2 m-2 border-dark mb-3 align-self-center"> 
    
                <div class="row py-1 justify-content-center align-items-center">
               <div class="col-2 px-6">
                 <p class="text-md-right my-0 py-1 "> <dt>Seri-Sıra:</dt></p>
               </div> 
               
                <div class="col-3 px-6">
                 <input class="form-control" id="inputdefault" type="text"> 
                </div>
  
                   <div class="col-3 px-6">
                       <button-edit id="2" option="BteParti"></button-edit>
                   </div>
               </div>
               <div class="row py-1 justify-content-center align-items-center">
                 <div class="col-2 px-6">
                     <p class="text-md-right "> <dt>Etiket tasarım:</dt> </p>
                 </div>    
                 
                <div class="col-3 px-6 ">
                    <input class="form-control" type="file" id="formFile">
                  </div>
                  

             </div>
             <div class="row py-1 justify-content-center align-items-center">
              <div class="col-2 px-6">
                  <p class="text-md-right my-0 py-1 "> <dt>Yazıcı:</dt> </p>
              </div>    
              
             <div class="col-3 px-6 ">
               
              <select class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="3">Three</option>
              </select>

               </div>
               

          </div>

             <div class="row m-2 py-1d-flex align-items-center flex-column justify-content-center">
                <div class="col-3 px-6">
                  <button type="button" class="btn btn-primary btn-lg">yeni</button>
                  <button type="button" class="btn btn-primary btn-lg active">Kaydet</button>
                </div>    
              </div>
         </div>
       </div>
        </div>        
        <div class="col-sm-3"></div>
     </div>

   