<div ng-controller="Siparisstokkontrol" ng-init="Init()">

<div class="card p-2 m-2">
    <div class="row py-1 p-2">
        <div class="col-1 px-4">
          <p class="text-md-right my-0 py-1"><dt>Barkod:</dt></p>
        </div>    
        <div class="col-2 px-6">
          <input class="form-control" id="inputdefault" ng-keypress = "BarkodGetirEvent($event)" ng-model="SipBarkod" type="text"> 
        </div>
        <div class="col-8 px-1" >
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary btn-lg" ng-click="Init()">Yeni</button>
              <button type="button" class="btn btn-primary btn-lg active" ng-click="Getir()">Getir</button>
              </div>
           
            
        </div>
      </div>
      <div id="TblSiparisList"></div>
</div>
</div>
<div class="grid border border-dark p-2 m-2"> 
<div style="height: 700px;">
</div>
</div>

