<div ng-controller="Stokeimage" ng-init="Init()"> 
    <div class="row py-1">
    <div class="col-1 px-6">
     <p class="text-md-right my-0 py-1"><dt>Stok Kodu</dt></p>
    </div>   
    <div class="col-3 px-6">
     <button-edit id="2" option="BteParti"></button-edit>
    </div>
    </div>
    <div class="row py-1">
        <div class="col-3 px-6">
            <div class="">
                <label for="formFile" class="form-label"></label>
                <input class="form-control" type="file" id="formFile">
              </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
        </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-xs-6 ">
                    <div class="box"></div>
                </div>
                <div class="col-lg-2 col-md-3 col-xs-6 ">
                    <div class="box"></div>
                </div>
                <div class="col-lg-2 col-md-3 col-xs-6 ">
                    <div class="box"></div>
                </div>
                <div class="col-lg-2 col-md-3 col-xs-6 ">
                    <div class="box"></div>
                </div>
            </div>
          

<style>
body{
   background:#a5b5c5;
   background:rgb(238, 238, 238) ;
}

.box {
   background: #fff;
   border-radius: 4px;
   padding-bottom: 100%;
}

.col-lg-2, .col-md-3, .col-xs-6{
    margin-top: 30px ;
}
</style>

            