<div ng-controller="StokTanitimi" ng-init="Init()">   
  <div class="card p-3 border"> 
    <div  class="row">
    <div class="col-4 "> 
    <div class="row">
    <div class="col-2 px-1">
      <p class="text-md-right "><dt>Stok Kodu:</dt></p>
    </div>   
        <div class="col-6 px-4">
            <button-edit id="2" class="form-control form-control-sm border-0" option="BteStokKodu"></button-edit>
        </div>
    </div>
    <div class="row">
      <div class="col-2 px-1">
          <p class="text-md-right"><dt>Üretici:</dt> </p>
      </div>    
      <div class="col-6 px-4">
          <button-edit id="3" class="form-control form-control-sm border-0" option="BteUretici"></button-edit>        
      </div>
      <div class="col-2 py-2">
        <button type="button" ng-click="UreticiModal()" class="btn btn-primary btn-sm  mt-1">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
          <p class="text-md-right"><dt>Kalite:</dt></p>
      </div>    
      <div class="col-6 px-4">
              <button-edit id="4" class="form-control form-control-sm border-0"  option="BteKalite"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button" ng-click="KaliteModal()"  class="btn btn-primary btn-sm  mt-1 ">+</button>
      </div>
    </div>
    <div class="row">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Materyal 1:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="5" class="form-control form-control-sm border-0" option="BteMateryal"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="MateryalModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Renk 1:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="6" class="form-control form-control-sm border-0" option="BteRenk"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="RenkModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Topuk Boyu:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="7" class="form-control form-control-sm border-0" option="BteTopukBoyu"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="TopukBoyuModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Astar:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="8" class="form-control form-control-sm border-0" option="BteAstar"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="AstarModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
        <div class="col-2 px-1">
          <p class="text-md-right"><dt>Taban Cinsi:</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="9" class="form-control form-control-sm border-0" option="BteTaban"></button-edit>
        </div>
        <div class="col-2 py-2">
          <button type="button"  ng-click="TabanModal()" class="btn btn-primary btn-sm">+</button>
        </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Yıl Adı:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="10" class="form-control form-control-sm border-0" option="BteYilAdi"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="YilModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Model :</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="11" class="form-control form-control-sm border-0" option="BteModel"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="ModelModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Ana Grup:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="12" class="form-control form-control-sm border-0" option="BteAnaGrup"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="AnaGrupModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Alt Grup:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="13" class="form-control form-control-sm border-0" option="BteAltGrup"></button-edit>
      </div>
      <div class="col-2 py-2">
        <button type="button"  ng-click="AltGrupModal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    
  </div>
  
    <!-- SAĞ TARAF-->
  <div class="col-4 ">
    <div class="row "> 
      <img class="rounded float-left" style="max-width:200px;width:100%" ng-src="{{PreviewImage}}">
    </div>
  <div class="row">
    <div class="row ">
      <div class="col-3 ">
        <p class="text-sm-right"><dt>Tasarım :</dt></p>
      </div> 
    <div class="col-6 mb-1">
        <div class="form-group">
            <combobox option="CmbTasarimList" ng-model="TasarimValue"></combobox>
        </div>  
    </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-4 px-1">
      <p class="text-md-right"><dt>Basım Adeti:</dt></p>
    </div>    
    <div class="col-4 px-4">
      <input class="form-control" ng-model="BasimAdet" type="number"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-4 px-1">
      <p class="text-md-right"><dt>Ayak No:</dt></p>
    </div>    
    <div class="col-4 px-4">
      <input class="form-control" ng-model="AyakNo" type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-4 px-1">
      <p class="text-md-right"><dt>Barkod:</dt></p>
    </div>    
    <div class="col-4 px-4">
      <input class="form-control" ng-keypress = "BarkodGetirKey($event)" ng-model="YeniBarkod"  type="text"> 
    </div>
  </div>  
  

<div class="row ">
  <div class="row ">
    <div class="col-4 px-1">
      <p class="text-md-right"><dt>Maliyet:</dt></p>
    </div>    
    <div class="col-3 px-4">
      <input class="form-control" ng-model="Maliyet"  type="text"> 
    </div>
  </div>
  <div class="row" ng-repeat="option in FiyatListeleri">
    <div class="col-4 px-1">
      <p class="text-md-right"><dt>{{option.sfl_aciklama}}:</dt></p>
    </div>    
    <div class="col-3 px-4">
      <input class="form-control" ng-model="option.MODEL" type="text"> 
    </div>
  </div>      
</div>
<div class="row  d-flex align-items-center flex-column justify-content-center"> 
</div>   
</div>
    <!-- SAĞ TARAF-->
    <div class="col-4  ">
      <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Stok Adı: {{StokAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Üretici : {{UreticiAdi}}</h5></p>
      </div>
    </div>      
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Kalite: {{KaliteAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Materyal: {{MateryalAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Renk: {{RenkAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Topuk Boyu: {{TopukAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Astar: {{AstarAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Taban Cinsi: {{TabanAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Yıl Adı: {{YilAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Model: {{ModelAd}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Ana Grup: {{AnaGrupAdi}}</h5></p>
      </div>
    </div>
    <div class="row "> 
      <div class="col-12 ">
        <p class="text-sm-right"><h5>Alt Grup: {{AltGrupAdi}}</h5></p>
      </div>
    </div>
    <div class="row  d-flex align-items-center flex-column justify-content-center">
      <div class="col-12">
        <button type="button" class="btn btn-primary btn-lg " ng-click="StokKaydet()">Kaydet</button>
        <button type="button" class="btn btn-primary btn-lg " ng-click="EtiketYazdir()">Yazdır</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="Init()">Yeni</button>
      </div>    
    </div>   
    </div>
</div>
</div> 


<!--ANA GRUP MODAL-->

<div id="AnaGrupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniAnagrupKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniAnaGrupAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="AnaGruplarKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>

<!--URETICI MODAL-->

<div id="MdlUretici" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Üretici Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniUreticiKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Üretici Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniUreticiAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="UreticiKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--KAlite MODAL-->

<div id="MdlKalite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Kalite Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniKaliteKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Kalite Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniKaliteAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="KaliteKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--MdlMateryal MODAL-->

<div id="MdlMateryal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Materyal Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniMateryalKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Materyal Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniMateryalAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="MateryalKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--Rnk MODAL-->

<div id="MdlRenk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Renk Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniRenkKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniRenkAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="RenkKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--Topuk MODAL-->

<div id="MdlTopuk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Topuk Boyu Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniTopukKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Topuk Boyu Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniTopukAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="TopukKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--Asltar MODAL-->

<div id="MdlAstar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Astar Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniAstarKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Astar Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniAstarAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="AstarKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--Taban MODAL-->

<div id="MdlTaban" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Taban Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniTabanKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Taban Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniTabanAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="TabanKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--Yıl MODAL-->

<div id="MdlYil" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Yıl Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniYilKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Yıl Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniYilAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="AnaGruplarKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--MdlModel MODAL-->

<div id="MdlModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
         
              <div class="modal-body">
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-4 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Model Kodu:</dt></p>
                  </div> 
                   <div class="col-4 px-6">
                    <input class="form-control" ng-model="YeniModelKodu" id="inputdefault" type="text"> 
                   </div>
                  </div>
                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-4 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Model Adı:</dt></p>
                    </div> 
                     <div class="col-4 px-6">
                      <input class="form-control" ng-model="YeniModelAdi" id="inputdefault" type="text"> 
                     </div>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="ModelKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>
<!--ALT GRUP MODAL-->
<div id="AltGrupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
            <div class="col-4 px-6">
              <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Kodu:</dt></p>
            </div> 
             <div class="col-4 px-6">
              <Button-edit  class="form-control form-control-sm border-0" option="BteAnaGrupAlt" id="23"> 
             </div>
            </div>
            <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
              <div class="col-4 px-6">
                <p class="text-md-right my-0 py-1 "> <dt>Alt Grup Kodu:</dt></p>
              </div> 
               <div class="col-4 px-6">
                <input class="form-control" ng-model="AltGrupKodu" id="inputdefault" type="text"> 
               </div>
              </div>
              <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                <div class="col-4 px-6">
                  <p class="text-md-right my-0 py-1 "> <dt>Alt Grup adı:</dt></p>
                </div> 
                 <div class="col-4 px-6">
                  <input class="form-control" ng-model="AltGrupAdi" id="inputdefault" type="text"> 
                 </div>
                </div>
          <form ng-submit="AltGrupModall()">
              <div class="modal-body">
              </div>
              <div class="modal-footer">
              
                  <button type="submit" class="btn btn-primary" ng-click="AltGruplarKaydet()">Kaydet</button>
              </div>
          </form>
      </div>
  </div>
</div>

</div>
</div>


