<div ng-controller="Stoktanitim" ng-init="Init()">   
    <div class="card p-3"> 
      <div  class="row">
      <div class="col-6"> 
      <div class="row py-1">
      <div class="col-2 px-1">
        <p class="text-md-right my-0 py-1"><dt>Stok Kodu</dt></p>
      </div>   
          <div class="col-6 px-4">
              <button-edit id="2" option="BteParti"></button-edit>
          </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
            <p class="text-md-right my-0 py-1"><dt>Üretici</dt> </p>
        </div>    
        <div class="col-6 px-4">
            <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
            <p class="text-md-right my-0 py-1"><dt>Kalite</dt></p>
        </div>    
        <div class="col-6 px-4">
                <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Materyal 1</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Renk 1</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Topuk boyu</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Astar</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
          <div class="col-2 px-1">
            <p class="text-md-right my-0 py-1"><dt>Taban Cinsi</dt></p>
          </div>    
          <div class="col-6 px-4">
            <button-edit id="2" option="BteParti"></button-edit>
          </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Yıl adı</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Model</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Ana Grup</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Alt Grup</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Birim</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Fiyat</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Alış Fiyatı</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" option="BteParti"></button-edit>
        </div>
      </div>  
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Etiket Tasarım</dt></p>
        </div>    
        <div class="col-6 px-4">
            <label for="formFile" class="form-label"><dt></dt></label>
            <input class="form-control" type="file" id="formFile">
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Basım Adedi</dt></p>
        </div>    
        <div class="col-2 px-4">
          <input class="form-control" id="inputdefault" type="text"> 
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Ayak no</dt></p>
        </div>    
        <div class="col-2 px-4">
          <input class="form-control" id="inputdefault" type="text"> 
        </div>
      </div>
      <div class="row py-1">
        <div class="col-2 px-1">
          <p class="text-md-right my-0 py-1"><dt>Yazıcı</dt></p>
        </div>    
        <div class="col-2 px-4">
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-6 px-4">
          <button type="button" class="btn btn-outline-dark">Yeni</button>
          <button type="button" class="btn btn-outline-dark">Kaydet</button>
        </div>    
      </div>       
    </div>
      <!-- SAĞ TARAF-->
    <div class="col-6">
      <div class="row py-1"> 
      <div class="col-2 px-1">
        <p class="text-md-right my-0 py-1"><dt>Stok Adı</dt></p>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-2 px-1">
      <p class="text-md-right my-0 py-1"><dt>Figür</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" option="BteParti"></button-edit>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-2 px-1">
        <p class="text-md-right my-0 py-1"><dt>Basım Adeti</dt></p>
      </div>    
      <div class="col-2 px-4">
        <input class="form-control" id="inputdefault" type="text"> 
      </div>
    </div>
    <div class="row py-1">
      <div class="col-2 px-1">
        <p class="text-md-right my-0 py-1"><dt>Barkod</dt></p>
      </div>    
      <div class="col-2 px-4">
        <input class="form-control" id="inputdefault" type="text"> 
      </div>
    </div>  
    
    <div class="row py-1">
      <div class="col-2 px-1">
        <p class="text-md-right my-0 py-1"><dt>paket</dt></p>
      </div> 
      <div class="row py-1">
        <div class="col-2 px-1 ">
          <div class="form-check d-flex">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
               Aktif
            </label>
          </div>	
        </div> 
    </div>  
  </div>
  <div class="row py-1">
    <div class="col-2 px-1">
      <p class="text-md-right my-0 py-1"><dt>renk</dt></p>
    </div> 
    <div class="col-3">
      <div class="card bg-light text-dark p-2"> 
      <form action="">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
          <label class="form-check-label" for="check1">Option 1</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
          <label class="form-check-label" for="check1">Option 2</label>
        </div>
    </div> 
    </div>
  </div>
  </div>
  </div> 
  
  