<div ng-controller="MonoBasarSayarBarkodOlustur" ng-init="Init()">
    <div class="row pt-3">
        <div class="col-6">
            <div class="card border-dark mb-3" style="height: 170px;">
                <div class="card-header bg-transparent border-dark py-1">Referans</div>
                <div class="card-body text-dark py-2">
                    <div class="row py-1">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Ağırlık (Gram) :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1">{{LblHassasGram}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Üretilecek Ürün :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <input type="number" min="0" class="form-control form-control-sm" ng-model = "TxtSpRefMiktar">
                        </div>
                    </div>
                </div>
                <div class="row pb-2 px-2">
                    <div class="col-6 offset-6">
                        <button type="button" class="btn btn-block btn-secondary" ng-click = "BtnTartimOnayla()">Tartımı Onayla</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-dark mb-3" style="height: 170px;">
                <div class="card-header bg-transparent border-dark py-1">Kantar</div>
                <div class="card-body text-dark py-2">
                <div class="row py-1">
                    <div class="col-4 px-2">
                        <p class="text-md-right my-0 py-1">Ağırlık :</p>
                    </div>    
                    <div class="col-8 px-2">
                        <p class="text-md-left my-0 py-1">{{LblKantarKilo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 px-2">
                        <p class="text-md-right my-0 py-1">Miktar :</p>
                    </div>    
                    <div class="col-8 px-2">
                        <p class="text-md-left my-0 py-1">{{LblKantarMiktar}}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <div class="card border-dark mb-3 h-80">
                <div class="card-header text-center bg-transparent border-dark py-1">Sipariş Stok Seçimi</div>
                <div class="card-body text-dark py-2">
                    <div class="row">
                        <div class="col-2 px-2">
                            <p class="text-md-left my-0 py-1">Sipariş :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1 text-primary">{{LblSipSeri}} - {{LblSipSira}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 px-2">
                            <p class="text-md-left my-0 py-1">Stok :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1 text-primary">{{LblBarkod}} - {{LblAdi}}</p>
                        </div>
                    </div>
                </div>
                <div class="row pb-2 px-2">
                    <div class="col-3 offset-6">
                        <button-modal id="1" option="BtnSipList"></button-modal>
                    </div>
                    <div class="col-3">
                        <button-modal id="2" option="BtnStokList"></button-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <div class="card border-dark mb-3 h-80">
                <div class="card-header text-center bg-transparent border-dark py-1">Barkod Basımı</div>
                <div class="card-body text-dark py-2">
                    <div class="row py-1">
                        <div class="col-2 px-2">
                            <p class="text-md-left my-0 py-1">Etiket Tasarımı :</p>
                        </div>
                        <div class="col-4 px-2">
                            <div class="form-group">
                                <!-- <select class="form-control" ng-model = "EtiketValue">
                                    <option ng-repeat = "Etiket in Param.Mono.BasarSayarEtiket" value="{{Etiket.special}}">{{Etiket.name}}</option>
                                </select> -->
                                <combobox option="CmbEtiketList"></combobox>
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 px-2">
                            <p class="text-md-left my-0 py-1">Basılacak Miktar :</p>
                        </div>    
                        <div class="col-4 px-2">
                            <input type="number" min="1" class="form-control form-control-sm" ng-model = "TxtEtiketMiktar">
                        </div>
                    </div>
                </div>
                <div class="row pb-2 px-2">
                    <div class="col-3 offset-6">
                        <button type="button" class="btn btn-block btn-secondary" ng-click = "Init()">Temizle</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-block btn-secondary" ng-click = "BtnBarkodBas()">Barkod Bas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>