<div ng-controller="MonoFasonGiris" ng-init="Init()">
    <div class="row pt-3">
        <div class="col-6">
            <div class="card border-dark mb-3 h-80">
                <div class="card-header bg-transparent border-dark py-1">İş Emri</div>
                <div class="card-body text-dark py-2">
                    <div class="row py-1">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">İş Emri :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <button-edit id="1" option="BteIsEmri"></button-edit>
                        </div>
                    </div>
                    <div class="row py-1">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Fasoncu :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <button-edit id="2" option="BteFasoncu"></button-edit>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Üretilecek Ürün :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1">{{LblUrun}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Depo :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1">{{LblDepo}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-dark mb-3 h-80">
                <div class="card-header bg-transparent border-dark py-1">Barkod Basımı</div>
                    <div class="card-body text-dark py-2">
                    <div class="row py-1">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Parti :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <button-edit id="2" option="BteParti"></button-edit>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Etiket Tasarımı :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <combobox option="CmbEtiketTasarim"></combobox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-0">        
        <div class="col-2">
            <button-input id="Ekle" option="BtnEkle"></button-input>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-block btn-secondary" ng-click="BtnSatirSil()">Satır Sil</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-block btn-secondary" ng-click="BtnBarkodBas()">Barkod Bas</button>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <div id="GrdList"></div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-2">
            <button type="button" class="btn-block btn-secondary btn-lg" ng-click="Init()">Yeni</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn-block btn-secondary btn-lg" ng-click="BtnKaydet()">Kaydet</button>
        </div>
    </div>
</div>