<div ng-controller="MonoUretimDashboard" ng-init="Init()">
    <div class="row d-flex justify-content-around mt-2">
        <div class="card text-white bg-light mb-3" style="min-width: 18rem; color: black;">
            <div class="card-header text-center" style="color: black;"><h2> HEDEFLENEN</h2></div>
            <div class="card-body bg-primary">
              <h1 class="card-title text-center">300</h1>
            </div>
        </div>
        <div class="card text-white bg-light mb-3" style="min-width: 18rem;">
            <div class="card-header text-center" style="color: black;"><h2> ÜRETİLEN</h2></div>
            <div class="card-body bg-success">
              <h1 class="card-title text-center">100</h1>
            </div>
        </div>
        <div class="card text-white bg-light mb-3" style="min-width: 18rem;">
            <div class="card-header text-center" style="color: black;"><h2> KALAN</h2></div>
            <div class="card-body bg-danger">
              <h1 class="card-title text-center">200</h1>
            </div>
        </div>
    </div>

    <div id="pie"></div>
</div>