<div ng-controller="MonoYariMamulBarkodIptal" ng-init="Init()">   
    <div class="row pt-3">
        <div class="col-6">
            <div class="card border-dark mb-3 h-80">
                <div class="row py-1">
                    <div class="col-4 px-2">
                        <p class="text-md-right my-0 py-2">İş Emri :</p>
                    </div>
                    <div class="col-8 px-4 pt-2">
                        <button-edit id="1" option = "BteIsEmri1"></button-edit>
                    </div>
                </div>                                                      
                <div class="row">
                    <div class="col-4 px-2">
                        <p class="text-md-right my-0 py-0">Barkod :</p>
                    </div>
                    <div class="col-8 px-4">
                        <input class="form-control form-control-sm" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 px-2">
                        <p class="text-md-right my-0 py-1">Stok Adı :</p>
                    </div>
                    <div class="col-8 px-4">
                        <p class="text-md-left my-0 py-1">001</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 px-2">
                        <p class="text-md-right my-0 py-1">Miktar :</p>
                    </div>
                    <div class="col-8 px-4">
                        <p class="text-md-left my-0 py-1">001</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-0">
        <div class="col-3">
            <button type="button" class="btn-block btn-secondary btn-lg">Ekle</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn-block btn-secondary btn-lg">Satır Sil</button>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <div id="GrdList"></div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-3">
            <button type="button" class="btn-block btn-secondary btn-lg">Yeni</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn-block btn-secondary btn-lg">Kaydet</button>
        </div>
    </div>
</div>
