<div ng-controller="MonoKasaBarkodOlustur" ng-init="Init()">
    <div class="row pt-3">
        <div class="col-6">
            <div class="card border-dark mb-3" style="height: 170px;">
                <div class="card-header bg-transparent border-dark py-1">Kantar</div>
                <div class="card-body text-dark py-2">
                    <div class="row justify-content-center">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1  text-align:center">Ağırlık :</p>
                        </div>
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1">00.0000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-6">
            <div class="card border-dark mb-3 h-80">
                <div class="card-header  bg-transparent border-dark py-1">Stok Seçimi</div>
                <div class="card-body text-dark py-2">
                    <div class="row pb-5">
                        <div class="col-4 px-2">
                            <p class="text-md-left my-0 py-1">Stok  :</p>
                        </div>
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1">{{LblBarkod}} - {{LblAdi}}</p>
                        </div>
                    </div>
                </div>
                <div class="row pb-2 px-2">
                    <div class="col-3 offset-9">
                        <button-modal id="1" option="BtnStokList"></button-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-6">
            <div class="card border-dark mb-3 h-80">
                <div class="card-header bg-transparent border-dark py-1">Barkod Basımı</div>
                <div class="card-body text-dark py-2">
                    <div class="row py-1">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-0">Etiket Tasarımı :</p>
                        </div>
                        <div class="col-8 px-2">
                            <combobox option="CmbEtiketTasarim"></combobox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-2">Basım Adedi :</p>
                        </div>
                        <div class="col-5 px-2 pt-2">
                            <input class="form-control form-control-sm" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-0">
        <div class="col-3">
            <button type="button" class="btn-block btn-secondary btn-lg">Temizle</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn-block btn-secondary btn-lg">Barkod Bas</button>
        </div>
    </div>
</div>
