<div ng-controller="MonoUretimParcalama" ng-init="Init()">
    <div class="row pt-3">
        <div class="col-6">
            <div class="card border-dark mb-3" style="height: 240px;">
                <div class="card-header bg-transparent border-dark py-1">Stok</div>
                <div class="card-body text-dark py-2">
                    <div class="row py-1">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Stok :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <button-edit id="3" option="BteIsEmri"></button-edit>
                        </div>
                    </div>
                    <div class="row py-1">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Depo :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <button-edit id="4" option="BteDepo"></button-edit>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Ürün :</p>
                        </div>    
                        <div class="col-8 px-2">
                            <p class="text-md-left my-0 py-1">{{LblStokAdi}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-2">
                            <p class="text-md-right my-0 py-1">Miktar :</p>
                        </div>    
                        <div class="col-3 px-2">
                            <input class="form-control form-control-sm" type="number" ng-model="TxtMiktar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-0">        
        <div class="col-2 d-grid" >
            <button type="button" class="btn btn-secondary" ng-click="Ekle()">Kaydet</button>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <div id="GrdList"></div>
        </div>
    </div>
    <div class="row pt-2 mb-5">
        <div class="col-2 d-grid">
            <button type="button" class="btn btn-secondary btn-lg" ng-click="YeniEvrak()">Yeni</button>
        </div>
        <div class="col-2 d-grid">
            <button type="button" class="btn btn-secondary btn-lg" ng-click="BtnIptal()">İptal</button>
        </div>
    </div>
</div>