USE [MikroDB_V15_1399]
GO
/****** Object:  Table [dbo].[TERP_COST]    Script Date: 4.06.2021 11:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_COST](
	[GUID] [uniqueidentifier] NOT NULL,
	[MONTH] [smallint] NULL,
	[YEAR] [smallint] NULL,
	[CODE] [nvarchar](50) NULL,
	[COST] [float] NULL,
	[LAST_QUANTITY] [float] NULL,
 CONSTRAINT [PK_TERP_COST] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERP_SEMSI_PERIOD]    Script Date: 4.06.2021 11:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERP_SEMSI_PERIOD](
	[GUID] [uniqueidentifier] NOT NULL,
	[YEAR] [smallint] NULL,
	[MONTH] [smallint] NULL,
	[NAME] [nvarchar](25) NULL,
	[MILADI] [nvarchar](50) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
 CONSTRAINT [PK_TERP_SEMSI_PERIOD] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TERP_COST] ([GUID], [MONTH], [YEAR], [CODE], [COST], [LAST_QUANTITY]) VALUES (N'0d1004d5-5987-4a1f-9c41-0057ddb500bf', 2, 1399, N'1001669', 23853.211, 45)
INSERT [dbo].[TERP_COST] ([GUID], [MONTH], [YEAR], [CODE], [COST], [LAST_QUANTITY]) VALUES (N'a7ef0263-64bc-4dad-aafe-005d41d6eaae', 1, 1399, N'1001287', 60173.21964579256, 630)
INSERT [dbo].[TERP_COST] ([GUID], [MONTH], [YEAR], [CODE], [COST], [LAST_QUANTITY]) VALUES (N'ae7e6213-d1a7-4428-83b9-0067674734eb', 1, 1399, N'1000867', 116724.56283337275, 1680)
GO
INSERT [dbo].[TERP_SEMSI_PERIOD] ([GUID], [YEAR], [MONTH], [NAME], [MILADI], [START_DATE], [END_DATE]) VALUES (N'5de184e1-9fd3-4d77-9550-182037e7f489', 1399, 2, N'Ordibehesht', N'April-May', CAST(N'2020-04-20T00:00:00.000' AS DateTime), CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[TERP_SEMSI_PERIOD] ([GUID], [YEAR], [MONTH], [NAME], [MILADI], [START_DATE], [END_DATE]) VALUES (N'2fcb18cb-b025-4201-8596-189e34bab12e', 1400, 6, N'Shahrivar', N'Aug-Sep', CAST(N'2021-08-23T00:00:00.000' AS DateTime), CAST(N'2021-09-22T00:00:00.000' AS DateTime))
INSERT [dbo].[TERP_SEMSI_PERIOD] ([GUID], [YEAR], [MONTH], [NAME], [MILADI], [START_DATE], [END_DATE]) VALUES (N'40386a79-8aaf-4bc9-8bbf-1ee940142813', 1399, 8, N'Aban', N'Oct-Nov', CAST(N'2020-10-22T00:00:00.000' AS DateTime), CAST(N'2020-11-20T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[TERP_COST] ADD  CONSTRAINT [DF_TERP_COST_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[TERP_SEMSI_PERIOD] ADD  CONSTRAINT [DF_TERP_SEMSI_PERIOD_GUID]  DEFAULT (newid()) FOR [GUID]
GO
