<div class="input-group">  
  <input type="text" class="form-control" ng-model="$ctrl.Txt">
  <div class="input-group-append">
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.Show()">...</button>
  </div>
</div>
<div class="modal fade" id="Mdl{{$ctrl.Id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{$ctrl.option.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="Grd{{$ctrl.Id}}"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="$ctrl.Select()">Seç</button>
        </div>
      </div>
    </div>
</div>