<div ng-controller="Stimage" ng-init="Init()">

<div class="card p-2 m-2">
    <div class="row py-1 p-2 m-2">
        <div class="col-1 px-4">
          <p class="text-md-right my-0 py-1"><dt>Barkod:</dt></p>
        </div> 
        <div class="col-3 px-6">
            <button-edit id="2" option="BteParti"></button-edit>
           </div>   
      
        <div class="col-8 px-1" >
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary btn-lg">yeni</button>
              <button type="button" class="btn btn-primary btn-lg active">Kaydet</button>
              </div>
        </div>
      </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-xs-6">
            <div class="box"></div>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-6 ">
            <div class="box"></div>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-6 ">
            <div class="box"></div>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-6 ">
            <div class="box"></div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"></div>
            </div>
        </div>
    
<style>
body{
background:#a5b5c5;
background:rgb(238, 238, 238) ;
}

.box {
background: #fff;
border-radius: 4px;
padding-bottom: 100%;
border: #0d0d0e;
}

.col-lg-2, .col-md-3, .col-xs-6{
margin-top: 30px ;
}
</style>

