<div ng-controller="ResimYukleme" ng-init="Init()"> 
  <div class="tab-content p-0">
    <div class="tab-pane fade show active" id="TbStok" role="tabpanel" aria-labelledby="TbStok-tab">
      <div class="row p-2">
        <div class="card mb-2">
          <div class="card-body text-dark py-2">
            <div class="row py-1">
              <div class="col-4 offset-8">
                <div class="input-group">
                  <span class="input-group-text" id="inputGroup-sizing-default">Ürün Ara</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="TblStokList"></div>
      </div>
      <div class="tab-pane fade  show active" id="TbResim" role="tabpanel" aria-labelledby="TbResim-tab">
        <div class="row d-flex justify-content-around mb-2">
            <div class="row">
              <div class="d-flex bd-highlight mb-3">
                <div class="me-auto p-2 bd-highlight">
                  <input type="file" id="Img1" accept="image/*" multiple onchange="angular.element(Img1).scope().ImageGet(Img1,'1')">
                </div>
                <div class="p-2 bd-highlight">
                  <button type="button" ng-click = "SiralamaKaydet()" class="btn btn-dark">SIRALAMA KAYDET</button>
                </div>
                <div class="p-2 bd-highlight">
                  <button type="button" ng-click = "BtnGeri()" class="btn btn-dark">Geri git </button>
                </div>
              </div>  
              <td></td>
              <div id="TblImageGrid"></div>
            </div>
        </div>
      </div> 
  
  </div>
  <div id="PreviewImg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="myCenterModalLabel">Ön İzleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-1">
                <img class="img-fluid" ng-src="{{PreviewImage}}">
            </div>
        </div>
    </div>
</div>
</div>
</div>