<div ng-controller="StokTanitim" ng-init="Init()">   
  <div class="card p-3 border"> 
    <div  class="row">
    <div class="col-6 border border-dark"> 
    <div class="row">
    <div class="col-2 px-1">
      <p class="text-md-right "><dt>Stok Kodu:</dt></p>
    </div>   
        <div class="col-6 px-4">
            <button-edit id="2" class="form-control form-control-sm border-0" option="BteStokKodu"></button-edit>
        </div>
    </div>
    <div class="row">
      <div class="col-2 px-1">
          <p class="text-md-right"><dt>Ana Grup:</dt> </p>
      </div>    
      <div class="col-6 px-4">
          <button-edit id="3" class="form-control form-control-sm border-0" option="BteAnaGrup"></button-edit>        
      </div>
      <div class="col-2 px-2">
        <button type="button" ng-click="AnaGrupModal()" class="btn btn-primary btn-sm  mt-1">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
          <p class="text-md-right"><dt>Alt Grup1:</dt></p>
      </div>    
      <div class="col-6 px-4">
              <button-edit id="4" class="form-control form-control-sm border-0"  option="BteAltGrup"></button-edit>
      </div>
      <div class="col-2 px-2 ">
        <button type="button" ng-click="AltGrupModal()"  class="btn btn-primary btn-sm  mt-1 ">+</button>
      </div>
    </div>
    <div class="row">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Alt Grup2:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="5" class="form-control form-control-sm border-0" option="BteAltGrup2"></button-edit>
      </div>
      <div class="col-2 px-2">
        <button type="button"  ng-click="AltGrupV2Modal()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Model:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="6" class="form-control form-control-sm border-0" option="BteModel"></button-edit>
      </div>
      <div class="col-2 px-2">
        <button type="button" ng-click="ModelModal()" class="btn btn-primary btn-sm mt-1">+</button>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Tedarikçi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="7" class="form-control form-control-sm border-0" option="BteTedarikci"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Raf:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="8" class="form-control form-control-sm border-0" option="BteRaf"></button-edit>
      </div>
    </div>
    <div class="row ">
        <div class="col-2 px-1">
          <p class="text-md-right"><dt>Materyal:</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="9" class="form-control form-control-sm border-0" option="BteMateryal"></button-edit>
        </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Kaplama:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="10" class="form-control form-control-sm border-0" option="BteKaplama"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Taş :</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="11" class="form-control form-control-sm border-0" option="BteTas"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Tas Rengi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="12" class="form-control form-control-sm border-0" option="BteTasrengi"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Zincir Sayısı:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="13" class="form-control form-control-sm border-0" option="BteZincirSayisi"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Zincir Rengi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="14" class="form-control form-control-sm border-0" option="BteZinciRengi"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Figür:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="15" class="form-control form-control-sm border-0" option="BteFigur"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Figür Şekli:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="16" class="form-control form-control-sm border-0" option="BteFigurSekli"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Figür Rengi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="17" class="form-control form-control-sm border-0" option="BteFigurRengi"></button-edit>
      </div>
    </div>  
    
  </div>
  
    <!-- SAĞ TARAF-->
  <div class="col-6 border border-dark">
    <div class="row "> 
    <div class="col-12 px-1">
      <p class="text-md-right"><h2>Stok Adı: {{StokAdi}}</h2></p>
      
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
    <p class="text-md-right"><dt>Etiket Tasarim:</dt></p>
    </div>    
 
    <div class="col-4 px-6 ">
                   
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="3">Three</option>
      </select>

       </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Basım Adeti:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BasimAdet" type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Barkod:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="Barkod"  type="text"> 
    </div>
  </div>  
  
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Paket:</dt></p>
    </div> 
     
  
  <div class="col-2 px-4">
    <input class="form-control" ng-model="Paket" type="text" ng-disabled="PaketDisable"> 
   </div>
  <div class="col-2 px-1">
    <div class="form-check">
    <input class="form-check-input" type="checkbox" ng-change="PaketDuzenle()" value=""  ng-model="PaketAktif" id="flexCheckIndeterminate">
      <label class="form-check-label" for="flexCheckIndeterminate">
         Aktif
     </label>
       </div>
  </div>
</div>
<div class="row ">
  <div class="col-2 px-1">
    <p class="text-md-right"><dt>Renk:</dt></p>
  </div> 
  <div class="col-3">
    <div class="card bg-light text-dark p-2"> 
    <form action="">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
        <label class="form-check-label" for="check1">Option 1</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
        <label class="form-check-label" for="check1">Option 2</label>
      </div>
  </div>
</div> 
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Maliyet:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="Maliyet"  type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Bayi PSF:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BayiPsf" ng-change="AlisFiyatHesap()" type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Şube PSF:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="SubePsf"  type="text"> 
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" ng-model="FiyatAktif" ng-change="FiyatDuzenle()" id="flexCheckIndeterminate">
      <label class="form-check-label" for="flexCheckIndeterminate">
        Fiyat düzenle
     </label>
       </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Bayi Alış %60:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BayiAlis" type="text"  ng-disabled="FiyatDisable"> 
    </div>
  </div>
  
  <div class="row ">
    <div class="col-2 px-1  ">
      <p class="text-md-right"><dt>Bayi Alış %50:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BayiAlis50"   type="text" ng-disabled="FiyatDisable" > 
     </div>
    <div class="col-2 px-1">

         
    </div>
  <div class="row  d-flex align-items-center flex-column justify-content-center">
    <div class="col-3 px-6">
    <button type="button" class="btn btn-primary btn-lg" ng-click="Init()">Yeni</button>
    <button type="button" class="btn btn-primary btn-lg active" ng-click="StokKaydet()">Kaydet</button>
      
    </div>    
  </div>   
  </div>       
</div>
</div>
</div> 


<!--ANA GRUP MODAL-->

<div id="AnaGrupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
            <div class="col-2 px-6">
              <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Kodu:</dt></p>
            </div> 
             <div class="col-3 px-6">
              <input class="form-control" ng-model="YeniAnagrupKodu" id="inputdefault" type="text"> 
             </div>
            </div>
            <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
              <div class="col-2 px-6">
                <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Adı:</dt></p>
              </div> 
               <div class="col-3 px-6">
                <input class="form-control" ng-model="YeniAnaGrupAdi" id="inputdefault" type="text"> 
               </div>
              </div>
         
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="AnaGruplarKaydet()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>

<!-- MODEL GRUBU -->
<div id="ModelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
            <div class="col-2 px-6">
              <p class="text-md-right my-0 py-1 "> <dt>Model Kodu:</dt></p>
            </div> 
            <div class="col-3 px-6">
              <input class="form-control" ng-model="ModelKodu" id="inputdefault" type="text"> 
            </div>
            </div>
            <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
              <div class="col-2 px-6">
                <p class="text-md-right my-0 py-1 "> <dt>Model Adı:</dt></p>
              </div> 
              <div class="col-3 px-6">
                <input class="form-control " ng-model="ModelAdi" id="inputdefault" type="text"> 
              </div>
              </div>
              <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                <div class="col-2 px-6">
                  <p class="text-md-right my-0 py-1 "> <dt>Ana Grup</dt></p>
                </div> 
                <div class="col-3 px-6">
                  <Button-edit  class="form-control form-control-sm border-0" option="BteAnaGrupModel" id="19"> 
                </div>
                </div>
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-2 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt>Alt Grup</dt></p>
                  </div> 
                  <div class="col-3 px-6">
                    <Button-edit  class="form-control form-control-sm border-0" option="BteAltGrupModel" id="20"> 
                  </div>
                  </div>

                  <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                    <div class="col-2 px-6">
                      <p class="text-md-right my-0 py-1 "> <dt>Alt Grup 2</dt></p>
                    </div> 
                    <div class="col-3 px-6">
                      <Button-edit  class="form-control form-control-sm border-0" option="BteAltGrup2Model" id="21"> 
                    </div>
                    </div>
        
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" ng-click="Modelkayit()"  >Kaydet</button>
              </div>

      </div>
  </div>
</div>

<!--ALT GRUP MODAL-->
<div id="AltGrupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
            <div class="col-2 px-6">
              <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Kodu:</dt></p>
            </div> 
             <div class="col-3 px-6">
              <Button-edit  class="form-control form-control-sm border-0" option="BteAnaGrupAlt" id="23"> 
             </div>
            </div>
            <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
              <div class="col-2 px-6">
                <p class="text-md-right my-0 py-1 "> <dt>Alt Grup Kodu:</dt></p>
              </div> 
               <div class="col-3 px-6">
                <input class="form-control" ng-model="AltGrupKodu" id="inputdefault" type="text"> 
               </div>
              </div>
              <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                <div class="col-2 px-6">
                  <p class="text-md-right my-0 py-1 "> <dt>Alt Grup adı:</dt></p>
                </div> 
                 <div class="col-3 px-6">
                  <input class="form-control" ng-model="AltGrupAdi" id="inputdefault" type="text"> 
                 </div>
                </div>
          <form ng-submit="AltGrupModall()">
              <div class="modal-body">
              </div>
              <div class="modal-footer">
              
                  <button type="submit" class="btn btn-primary" ng-click="AltGruplarKaydet()">Kaydet</button>
              </div>
          </form>
      </div>
  </div>
</div>
<div id="AltGrupV2Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
            <div class="col-2 px-6">
              <p class="text-md-right my-0 py-1 "> <dt>Ana Grup Kodu:</dt></p>
            </div> 
             <div class="col-3 px-6">
              <input class="form-control" ng-model="AnaGrupAdiV2" id="inputdefault" type="text"> 
             </div>
            </div>
            <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
              <div class="col-2 px-6">
                <p class="text-md-right my-0 py-1 "> <dt>Alt Grup Kodu:</dt></p>
              </div> 
               <div class="col-3 px-6">
                <input class="form-control" ng-model="AltGrupKoduv2" id="inputdefault" type="text"> 
               </div>
              </div>
              <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                <div class="col-2 px-6">
                  <p class="text-md-right my-0 py-1 "> <dt>Kodu:</dt></p>
                </div> 
                 <div class="col-3 px-6">
                  <input class="form-control" ng-model="KoduV2" id="inputdefault" type="text"> 
                 </div>
                </div>
                <div class="row py-1 justify-content-center align-items-center border-dark mb-3 p-2 m-2">
                  <div class="col-2 px-6">
                    <p class="text-md-right my-0 py-1 "> <dt> Adı:</dt></p>
                  </div> 
                   <div class="col-3 px-6">
                    <input class="form-control" ng-model="Adiv2" id="inputdefault" type="text"> 
                   </div>
                  </div>
          <form ng-submit="AltGrupV2Modal()">
              <div class="modal-body">
              </div>
              <div class="modal-footer">
              
                  <button type="submit" class="btn btn-primary" ng-click="AltGruplar2Kaydet()" >Kaydet</button>
              </div>
          </form>
      </div>
  </div>

<!--ALT GRUP V2 MODAL-->

</div>

</div>
</div>


