<div ng-controller="Stoktanitim2" ng-init="Init()">
<div class="container">  
  <div class="row">
   
    <div class="col-sm-3 border border-dark p-2 m-2"> 
      <div class="row py-1">
      <div class="col-5 px-4">
        <p class="text-md-right my-0 py-1"><dt>Ana Grup:</dt></p>
      </div>   
          <div class="col-6 px-4">
              <button-edit id="2" option="BteParti"></button-edit>
          </div>
      </div>
      <div class="row py-1">
        <div class="col-5 px-4">
          <p class="text-md-right my-0 py-1"><dt>Alt Grup1:</dt></p>
        </div>   
            <div class="col-6 px-4">
                <button-edit id="2" option="BteParti"></button-edit>
            </div>
        </div>
        <div class="row py-1">
          <div class="col-5 px-4">
            <p class="text-md-right my-0 py-1"><dt>Alt Grup2:</dt></p>
          </div>   
              <div class="col-6 px-4">
                  <button-edit id="2" option="BteParti"></button-edit>
              </div>
          </div>
          <div class="row py-1">
            <div class="col-5 px-4">
              <p class="text-md-right my-0 py-1"><dt>Model:</dt></p>
            </div>   
                <div class="col-6 px-4">
                    <button-edit id="2" option="BteParti"></button-edit>
                </div>
                
            </div>
            <div class="row py-1">
              <div class="col-5 px-4">
                <p class="text-md-right my-0 py-1"><dt>Tedarikçi:</dt></p>
              </div>   
                  <div class="col-6 px-4">
                      <button-edit id="2" option="BteParti"></button-edit>
                  </div>
                  
              </div>
    </div>
    <div class="col-sm-3 border border-dark p-2 m-2"> 
      <div class="row py-1">
     <div class="col-5 px-4">
       <p class="text-md-right my-0 py-1"><dt>Raf:</dt></p>
     </div>   
         <div class="col-6 px-4">
             <button-edit id="2" option="BteParti"></button-edit>
         </div>   
     </div>
     <div class="row py-1">
       <div class="col-5 px-4">
         <p class="text-md-right my-0 py-1"><dt>Materyal:</dt></p>
       </div>   
           <div class="col-6 px-4">
               <button-edit id="2" option="BteParti"></button-edit>
           </div>
       </div>
       <div class="row py-1">
         <div class="col-5 px-4">
           <p class="text-md-right my-0 py-1"><dt>Kaplama:</dt></p>
         </div>   
             <div class="col-6 px-4">
                 <button-edit id="2" option="BteParti"></button-edit>
             </div>
         </div>
         <div class="row py-1">
           <div class="col-5 px-4">
             <p class="text-md-right my-0 py-1"><dt>Tas Rengi:</dt></p>
           </div>   
               <div class="col-6 px-4">
                   <button-edit id="2" option="BteParti"></button-edit>
               </div>
           </div>
           <div class="row py-1">
             <div class="col-5 px-4">
               <p class="text-md-right my-0 py-1"><dt>Zincir Sayısı:</dt></p>
             </div>   
                 <div class="col-6 px-4">
                     <button-edit id="2" option="BteParti"></button-edit>
                 </div>
             </div>
   </div>
    <div class="col-sm-3 border border-dark p-2 m-2"> 
    <div class="row py-1">
      <div class="col-5 px-4">
        <p class="text-md-right my-0 py-1"><dt>ZincirRengi:</dt></p>
      </div>   
          <div class="col-6 px-4">
              <button-edit id="2" option="BteParti"></button-edit>
          </div>
     </div>
     <div class="row py-1">
      <div class="col-5 px-4">
        <p class="text-md-right my-0 py-1"><dt>Figür:</dt></p>
      </div>   
          <div class="col-6 px-4">
              <button-edit id="2" option="BteParti"></button-edit>
          </div>
     </div>
     <div class="row py-1">
      <div class="col-5 px-4">
        <p class="text-md-right my-0 py-1"><dt>Figür Şekli:</dt></p>
      </div>   
          <div class="col-6 px-4">
              <button-edit id="2" option="BteParti"></button-edit>
          </div>
     </div>
     <div class="row py-1">
      <div class="col-5 px-4">
        <p class="text-md-right my-0 py-1"><dt>Figür Rengi:</dt></p>
      </div>   
          <div class="col-6 px-4">
              <button-edit id="2" option="BteParti"></button-edit>
          </div>
     </div>
     <div class="row py-1">
      <div class="col-5 px-4">
        <p class="text-md-right my-0 py-1"><dt>Figür:</dt></p>
      </div>   
          <div class="col-6 px-4">
              <button-edit id="2" option="BteParti"></button-edit>
          </div>
     </div>
     
    </div>
   
    <div class="col-sm-3 border border-dark p-2 m-2">
      <div class="row py-1">
        <div class="col-5 px-4">
          <p class="text-md-right my-0 py-1"><dt>Maliyet</dt></p>
        </div>    
        <div class="col-6 px-4">
          <input class="form-control" id="inputdefault" type="text"> 
        </div>
      </div>
      <div class="row py-1">
        <div class="col-5 px-4">
          <p class="text-md-right my-0 py-1"><dt>Bayi PSF</dt></p>
        </div>    
        <div class="col-6 px-4">
          <input class="form-control" id="inputdefault" type="text"> 
        </div>
      </div>
      <div class="row py-1">
        <div class="col-5 px-4">
          <p class="text-md-right my-0 py-1"><dt>Şube PSF</dt></p>
        </div>    
        <div class="col-6 px-4">
          <input class="form-control" id="inputdefault" type="text"> 
        </div>
      </div>
      <div class="row py-1">
        <div class="col-5 px-4">
          <p class="text-md-right my-0 py-1"><dt>Bayi Alış%60</dt></p>
        </div>    
        <div class="col-6 px-4">
          <input class="form-control" id="inputdefault" type="text"> 
        </div>
        
      </div>
      <div class="row py-1">
        <div class="col-5 px-4">
          <p class="text-md-right my-0 py-1"><dt>Bayi Alış%50</dt></p>
        </div>    
        <div class="col-6 px-4">
          <input class="form-control" id="inputdefault" type="text"> 
        </div>
        
      </div>
   </div>
  </div>
  
</div>


</div>  
<div class="container">
<div class="row">
  <div class="col-sm-3 border border-dark p-2 m-2"> 
    <div class="row py-1">
    <div class="col-5 px-4">
      <p class="text-md-right my-0 py-1"><dt>Figür:</dt></p>
    </div>   
        <div class="col-6 px-4">
            <button-edit id="2" option="BteParti"></button-edit>
        </div>
    </div>
    <div class="row py-1">
      <div class="col-5 px-4">
        <p class="text-md-right my-0 py-1"><dt>Basım Adeti:</dt></p>
      </div>   
          <div class="col-6 px-4">
            <input class="form-control" id="inputdefault" type="text"> 
          </div>
      </div>
      <div class="row py-1">
        <div class="col-5 px-4">
          <p class="text-md-right my-0 py-1"><dt>Barkod:</dt></p>
        </div>   
            <div class="col-6 px-4">
              <input class="form-control" id="inputdefault" type="text"> 
            </div>
        </div>
        <div class="row py-1">
          <div class="col-5 px-4">
            <p class="text-md-right my-0 py-1"><dt>paket:</dt></p>
          </div>   
              <div class="col-6 px-4">
                <input class="form-control" id="inputdefault" type="text"> 
              </div>
               <div class="row py-1 p-2 m-2">
            <div class="col-5 px-4">
              <p class="text-md-right my-0 py-1"><dt>Renk::</dt></p>
            </div>   
                <div class="col-6 px-4">
                  <form action="">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                      <label class="form-check-label" for="check1"></label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                      <label class="form-check-label" for="check1"> </label>
                    </div>
                </div>
                
            </div>
          </div>
         
  </div>

</div>
</div>