<div ng-controller="StokTanitim" ng-init="Init()">   
  <div class="card p-3 border"> 
    <div  class="row">
    <div class="col-6 border border-dark"> 
    <div class="row">
    <div class="col-2 px-1">
      <p class="text-md-right "><dt>Stok Kodu:</dt></p>
    </div>   
        <div class="col-6 px-4">
            <button-edit id="2" class="form-control form-control-sm border-0"  option="BteStokKodu"></button-edit>
        </div>
    </div>
    <div class="row">
      <div class="col-2 px-1">
          <p class="text-md-right"><dt>Ana Grup:</dt> </p>
      </div>    
      <div class="col-6 px-4">
          <button-edit id="3" class="form-control form-control-sm border-0" option="BteAnagrup"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
          <p class="text-md-right"><dt>Alt Grup1:</dt></p>
      </div>    
      <div class="col-6 px-4">
              <button-edit id="2" class="form-control form-control-sm border-0"  option="Btealtgrup"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Alt Grup2:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btealtgrup2"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Model:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btemodel"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Tedarikçi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btetedarikci"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Raf:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Bteraf"></button-edit>
      </div>
    </div>
    <div class="row ">
        <div class="col-2 px-1">
          <p class="text-md-right"><dt>Materyal:</dt></p>
        </div>    
        <div class="col-6 px-4">
          <button-edit id="2" class="form-control form-control-sm border-0" option="Btemateryal"></button-edit>
        </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Kaplama:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="BteKaplama"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Tas Rengi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btetasrengi"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Zincir Sayısı:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btezincirsayisi"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Zincir Rengi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btezincirengi"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Figür:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btefigur"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Figür Şekli:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btefigursekli"></button-edit>
      </div>
    </div>
    <div class="row ">
      <div class="col-2 px-1">
        <p class="text-md-right"><dt>Figür Rengi:</dt></p>
      </div>    
      <div class="col-6 px-4">
        <button-edit id="2" class="form-control form-control-sm border-0" option="Btefigurrengi"></button-edit>
      </div>
    </div>  
    
  </div>
  
    <!-- SAĞ TARAF-->
  <div class="col-6 border border-dark">
    <div class="row "> 
    <div class="col-2 px-1">
      <p class="text-md-right"><h2>StokAdı:</h2></p>
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
    <p class="text-md-right"><dt>Etiket Tasarim:</dt></p>
    </div>    
 
    <div class="col-4 px-6 ">
                   
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="3">Three</option>
      </select>

       </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Basım Adeti:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BasimAdet" type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Barkod:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="Barkod"  type="text"> 
    </div>
  </div>  
  
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>paket:</dt></p>
    </div> 
     
  
  <div class="col-2 px-4">
    <input class="form-control" ng-model="paket" type="text"> 
   </div>
  <div class="col-2 px-1">
    <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
      <label class="form-check-label" for="flexCheckIndeterminate">
         Aktif
     </label>
       </div>
  </div>
</div>
<div class="row ">
  <div class="col-2 px-1">
    <p class="text-md-right"><dt>renk:</dt></p>
  </div> 
  <div class="col-3">
    <div class="card bg-light text-dark p-2"> 
    <form action="">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
        <label class="form-check-label" for="check1">Option 1</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
        <label class="form-check-label" for="check1">Option 2</label>
      </div>
  </div>
</div> 
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Maliyet:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="Maliyet"  type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Bayi PSF:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BayiPsf"  type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Şube PSF:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="Subepsf"  type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1">
      <p class="text-md-right"><dt>Bayi Alış%60:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BayiAlış" type="text"> 
    </div>
  </div>
  <div class="row ">
    <div class="col-2 px-1  ">
      <p class="text-md-right"><dt>Bayi Alış%50:</dt></p>
    </div>    
    <div class="col-2 px-4">
      <input class="form-control" ng-model="BayiAlış%50"  type="text"> 
     </div>
    <div class="col-2 px-1">
      <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          Fiyat düzenle
       </label>
         </div>
         
    </div>
  <div class="row  d-flex align-items-center flex-column justify-content-center">
    <div class="col-3 px-6">
    <button type="button" class="btn btn-primary btn-lg">yeni</button>
    <button type="button" class="btn btn-primary btn-lg active">Kaydet</button>
      
    </div>    
  </div>   
  </div>       
</div>
</div>
</div> 
