<div ng-controller="DianStokMaliyetOperasyonu" ng-init="Init()">
    <div class="row pt-2">
        <div class="col-6">
            <div class="card border-dark mb-3">
                <div class="card-header bg-transparent border-dark py-1">Stok Maliyet Operasyonu</div>
                <div class="card-body text-dark py-2">
                    <div class="row pt-2">
                        <div class="col-12 px-2">
                            <p class="text-md-center my-0 py-1">{{TxtStatus}}</p>
                        </div>  
                    </div>
                    <div class="row pt-2">
                        <div class="col-12">
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-danger" id="PrBar" style="width: 0%;" role="progressbar">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-2 px-2">
                            <p class="text-md-right my-0 py-1">Dönem Yıl :</p>
                        </div>    
                        <div class="col-2 px-2">
                            <combobox option="CmbDonemYil"></combobox>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-2 px-2">
                            <p class="text-md-right my-0 py-1">Dönem Ay :</p>
                        </div>    
                        <div class="col-2 px-2">
                            <combobox option="CmbDonemAy"></combobox>
                        </div>
                    </div>  
                    <div class="row pt-4">
                        <div class="col-12">
                            <button type="button" class="btn-block btn-secondary btn-lg" ng-click="BtnCalistir()">Stok Maliyet Hesapla</button>
                        </div>
                    </div>                               
                </div>
            </div>            
        </div>
        <div class="col-6">
            <div class="card border-dark mb-3">
                <div class="card-header bg-transparent border-dark py-1">Log</div>
                <div class="card-body text-dark py-2">
                    <div class="row pt-4">
                        <div class="col-12">
                            <textarea class="form-control" style="height: 700px;" rows="8" readonly ng-model="TxtLog"></textarea>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
    </div>
</div>