<div ng-controller="GunokKullaniciAyarlari" ng-init="Init(0)">
  <div class="tab-content">
      <div id="TbUserList" class="tab-pane show active">
          <div class="row pt-2">
              <div class="d-flex justify-content-center">
                  <div id="GrdList"></div>
              </div>
          </div>
      </div>
      <div id="TbUserEdit" class="tab-pane pt-2">
          <div class="row">
              <div class="col-md-4 d-grid">
                  <button class="btn btn-success mb-2 text-white fw-bold" ng-click="BtnBackKullaniciList()">KULLANICI LİSTESİNE DÖN</button>
              </div>
              <div class="col-md-4 offset-4 d-grid">
                  <button class="btn btn-success mb-2 text-white fw-bold" ng-click="BtnParamUpdate()">KAYDET</button>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark py-1 fw-bolder">Kullanıcı Bilgileri</div>
                    <div class="card-body text-dark py-2">
                        <div class="row py-1">
                            <div class="col-3 mt-2">
                                <p class="text-md-right my-0 py-1 fw-bolder" >Giriş:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.Account">
                            </div>
                            <div class="col-3 mt-2">
                                <p class="text-md-right my-0 py-1 fw-bolder" >Şifre:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.Password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark py-1 fw-bolder">Açılış Sayfası</div>
                    <div class="card-body text-dark py-2">
                        <div class="row py-1">
                            <div class="col-6 mt-2">
                                <p class="text-md-right my-0 py-1 fw-bolder" >Açılış Sayfası:</p>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="form-group">
                                    <combobox option="CmbAcilisSayfa" ng-model="GeneralParamList.AcilisSayfasi"></combobox>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark py-1 fw-bolder">Parametre Ayarları</div>
                    <div class="card-body text-dark py-2">
                        <div class="row py-1 d-flex align-items-center">
                            <div class="col-7">
                                <span class="text-md-right" >İstasyon Kodu:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <div class="form-group">
                                    <combobox option="CmbOperasyon" ng-model="GeneralParamList.OperasyonKodu"></combobox>
                                </div>  
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >İş Emri Onay Durum :</span>
                            </div>
                            <div class="col-5 mb-1">
                                <div class="form-group">
                                    <combobox option="CmbIsEmriOnayDurumu" ng-model="GeneralParamList.IsEmriOnayDurumu"></combobox>
                                </div>  
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Kapanan İş Emirleri :</span>
                            </div>
                            <div class="col-5 mb-1">
                                <div class="form-group">
                                    <combobox option="CmbKapananIsEmri" ng-model="GeneralParamList.KapananIsEmri"></combobox>
                                </div>  
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Barkod Etiket Seri:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.BarkodEtiketSeri">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Operasyon Seri:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.OperasyonSeri">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Ürün Çıkış Seri:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.UrunCikisSeri">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Ürün Giriş Seri:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.UrunGirisSeri">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark py-1 fw-bolder">Rapor Menü Ayarları</div>
                    <div class="card-body text-dark py-2">
                        <div class="row py-1">
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Depo Transfer Raporu:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoDepoTransferRaporu">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Depo Giriş Çıkış Raporu:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoStokDepoGirisCikisRaporu">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Stok Seviyeleri Raporu:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoStokSeviyeleriRaporu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark py-1 fw-bolder">Ana Menü Ayarları</div>
                    <div class="card-body text-dark py-2">
                        <div class="row py-1">
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Mamül Mal Kabul:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoMamulMalKabul">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Yarı Mamül Mal Kabul:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoYariMamulMalKabul">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Barkod Etiket Basımı:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoBarkodEtiketBasimi">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Basar Sayar Barkod Oluştur:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoBasarSayarBarkodOlustur">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Kasa Barkodu Oluştur:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoKasaBarkodOlustur">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Fason Giriş:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoFasonGiris">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Elektrik Üretim:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoElektrikUretim">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Üretim Dashboard:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoUretimDashboard">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark py-1 fw-bolder">Yönetim Menü Ayarları</div>
                    <div class="card-body text-dark py-2">
                        <div class="row py-1">
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Kullanıcı Ayarları:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoKullaniciAyarlari">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Kullanıcı Ekle:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoKullaniciEkle">
                                </div>
                            </div>
                            <div class="col-9 px-2">
                                <p class="text-md-right my-0 py-1" >Üretim Silme:</p>
                            </div>
                            <div class="col-3 mt-2">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.MonoUretimSilme">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark py-1 fw-bolder">Sistem Parametreleri</div>
                    <div class="card-body text-dark py-2">
                        <div class="row py-1 d-flex align-items-center">
                            <div class="col-7">
                                <span class="text-md-right" >Firma:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.Firma">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Firma Liste:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.FirmaListe">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Kilo Başlangıç:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.KiloBaslangic">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Kilo Çarpan:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.KiloCarpan">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Kilo Flag:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.KiloFlag">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Kilo Uzunluk:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.KiloUzunluk">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Mikro Id:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.MikroId">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Plasiyer Kodu:</span>
                            </div>
                            <div class="col-5 mb-1">
                                <input class="form-control form-control-sm" type="text" ng-model="GeneralParamList.PlasiyerKodu">
                            </div>
                            <div class="col-7">
                                <span class="text-md-right" >Satır Birleştir:</span>
                            </div>
                            <div class="col-5 mb-1 mt-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" ng-model="GeneralParamList.SatirBirlestir">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid">
            <button class="btn btn-success mb-5 text-white fw-bold" ng-click="BtnParamUpdate()">KAYDET</button>
        </div>

      </div>
  </div>
</div>