<div ng-controller="IsEmriIzleme" ng-init="Init()">
    <div class="row">
      <div class="col-12 pt-2">
        <div id="TblIsEmriGrid"></div>
        <div class="text-center">
          <p class="text-muted font-15 font-family-secondary mb-0">
            <span class="mx-2"><i class="fas fa-brush" style="color: #4ef037;"></i> Tamamlanmış</span>
            <span class="mx-2"><i class="fas fa-brush" style="color: #bef2ff;"></i> Tamamlanmamış</span>
          </p>
        </div>
      </div>
    </div>
</div>