<div ng-controller="Login" ng-init="Init()">
    <style>
        body{
            background:#30336b;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
    </style>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h2 class="text-center">LOGİN</h2>
            <form>
        
                <hr>
                <p class="text-success text-center">Welcome</p>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Email or login" type="email">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="******" type="password">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div>
                        <select class="browser-default custom-select">
                            <option selected="">Lütfen Şirket Seçiniz</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        </div>
                        <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Login </button>
                    </div> <!-- form-group// -->
                    <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
            </form>
        </div>
    </div>
</div>

