<div ng-controller="Login" ng-init="Init()">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-8 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">NitroWeb</h2>
                            <hr>
                            <form>
                                <div class="input-group">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-user"></i></div>
                                    <input type="text" class="form-control" ng-model="Kullanici" placeholder="Kullanıcı Adı" aria-label="Input group example" aria-describedby="btnGroupAddon">
                                </div>

                                <div class="input-group py-2">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-lock"></i></div>
                                    <input type="password" class="form-control" ng-model="Sifre" placeholder="******" aria-label="Input group example" aria-describedby="btnGroupAddon">
                                </div>
                                <div>
                                    <combobox option="CmbFirma"></combobox>
                                </div>
                                    <hr>
                                <div class="form-group d-grid">
                                    <button type="submit" class="btn btn-primary" ng-click="BtnLogin()"> Giriş </button>
                                </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>